@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

// Colors
$red: #751113;
$green: #014421;
$black: #101010;
$white: #fff;

// Breakpoints
// Small tablets and large smartphones (landscape view)
$screen-sm-min: 320px;

// Small tablets (portrait view)
$screen-md-min: 576px;

// Tablets and small desktops
$screen-lg-min: 769px;

// Large tablets and desktops
$screen-xl-min: 1024px;

// Typography
// base border radius
$base-br: 10px;

// base border thickness
$base-bt: 1.5px;

// base font size
$base-fs: 0.8rem;

// base font weight
$base-fw: 800;

$component-padding: 0.5rem 0rem 0.5rem 0.8rem;
